<config>

  <!-- User Information -->
  <user value="Ilija_Vukotic"/>         <!-- Enter your user name here -->
  <team value="0"/>         <!-- Your team number -->
  <passkey value="1afa40f09504ec3f1afa40f09504ec3f"/>      <!-- 32 hexadecimal characters if provided -->

  <power value="full"/>    <!-- Throttling this at K8s level -->
  <gpu value="true"/>      <!-- If true, attempt to autoconfigure GPUs -->
  <fold-anon value="false"/>
</config>
